html, body{
  margin: 0;
  padding: 0;
}
*{
  font-family: 'Montserrat', sans-serif;
}
.positive{
  color: #00bfd7;
}
.negative{
  color: #ff652f;
}

.bg-black{
  background-color: #212121;
}

.white{
  color: #ffffff;
}

.bg-white{
  background-color: #ffffff;
}

.black{
  color: #212121;
}

#header-chart-container{
  text-align: center;
  display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.type-toggle{
  padding: 0.2em;
  width: 15em;
  border: 1px solid #ccc;
  text-align: center
}

.type-toggle.active{
  background-color: #ccc;
  color: #212121;
}

.btn.counter-reset:hover{
  color: #ffffff !important;
}

.header{
  margin-top: 15em !important;
}

.content{
  border-top: 1px solid #eee;
  min-height: 500px;
}

.own-contest{
    border-top: 1px solid #eee;
}
.header-nav {
  /* position: fixed; */
}

.header-theme{
  padding: 0.2em;
  width: 20em;
  border: 1px solid #ccc;
  text-align: center
}
.header-theme.active{
  background-color: #ccc;
  color: #212121;
}

#bubble-spread{
  padding: 0 7em;
}

footer{
  background-color: #eee;
}

.credits a, .credits a:visited, .creator a, .creator a:visited, .code a, .code a:visited, .feedback a, .feedback a:visited{
  color: #212121 !important;
  text-decoration: underline;
}

#emoji-dropdown-left select, #emoji-dropdown-right select{
  padding: 5px;
  border-radius: 50px;
}

#emoji-dropdown-left select{
  border:2px solid #00bfd7;
}

#emoji-dropdown-right select{
  border:2px solid #ff652f;
 }
