html, body{
  margin: 0;
  padding: 0;
}
*{
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #fafafa;
}

.positive{
  color: #00bfd7;
}
.negative{
  color: #ff652f;
}

.bg-black{
  background-color: #212121;
}

.white{
  color: #ffffff;
}

.bg-white{
  background-color: #ffffff;
}

.black{
  color: #212121;
}

#header-chart-container{
  text-align: center;
  display: inline-block;
	position: relative;
	vertical-align: middle;
	overflow: hidden;
}

.type-toggle{
  padding: 0.2em;
  width: 12em;
  /* border: 1px solid #ccc; */
  text-align: center;
  background-color: #000;
  color: #777;
}

.type-toggle.active{
  background-color: #fff;
  color: #212121;
}

.btn.counter-reset:hover{
  color: #ffffff !important;
}

.header{
  margin-top: 15em !important;
}

.content{
  border-top: 1px solid #eee;
  min-height: 200px;
}

.own-contest{
    border-top: 1px solid #eee;
}

.header-nav {
  /* position: fixed; */
}

.header-theme{
  padding: 0.2em;
  width: 20em;
  border: 1px solid #ccc;
  text-align: center
}
.header-theme.active{
  background-color: #ccc;
  color: #212121;
}

#bubble-spread{
  padding: 0 7em;
}

footer{
  background-color: #eee;
}

.credits a, .credits a:visited, .creator a, .creator a:visited, .code a, .code a:visited, .feedback a, .feedback a:visited, .blog a, .blog a:visited{
  color: #212121 !important;
  text-decoration: underline;
}

#emoji-dropdown-left select, #emoji-dropdown-right select{
  padding: 5px;
  border-radius: 50px;
}

#emoji-dropdown-left select{
  border:2px solid #00bfd7;
}

#emoji-dropdown-right select{
  border:2px solid #ff652f;
 }

.time-selection-buttons{
  background-color: #000;
  border: 1px solid #222;
  border-radius: 100px;
}

.svg-container{
  width: 90%;
  margin: 5%;
}

.navbar-container{
  box-shadow: 0px 1px 5px 0px #eee;
  background: rgb(255 255 255 / 90%);
}
